.email-container(style='margin: 50px 0 50px 0;padding: 25px 15px 25px 15px;background-color: #f8f9fa;text-align: left;font-size: 1.1rem;color: #373737;')
    .email-header(style='margin-bottom: 20px;')
        .email-title(style='margin-bottom: 10px;')
            h3 New contact form submission!
            hr
        .email-subject
            span.subject-header(style='font-weight: bold;') Subject:
            | Test sending email from postman
        .email-date(style='font-size: 0.85rem;color: #3e3e3e;opacity: 0.9;margin-top: 5px;')
            span.date-recieved(style='opacity: 0.85;') recieved:
            | May 5, 2019 @ 9:29 PM
    table.tg(style='border-collapse: collapse;border-spacing: 0;margin-bottom: 15px;')
        tbody
            tr
                th.tg-adxo(style='font-weight: bold;padding: 0 5px 0 0;border-style: none;overflow: hidden;word-break: normal;text-align: left;vertical-align: middle;') Name:
                th.tg-0lax(style='font-weight: normal;padding: 0 5px 0 0;border-style: none;overflow: hidden;word-break: normal;text-align: left;vertical-align: middle;') Jake Waltrip
            tr
                td.tg-l2oz(style='padding: 0 5px 0 0;border-style: none;overflow: hidden;word-break: normal;font-weight: bold;text-align: left;vertical-align: middle;') Email:
                td.tg-0lax(style='padding: 0 5px 0 0;border-style: none;overflow: hidden;word-break: normal;text-align: left;vertical-align: middle;') jake.waltrip.dev@gmail.com
    .message-info
        .message-header(style='font-weight: bold;margin-bottom: 5px;') Message:
        .message-container(style='background-color: rgba(217, 217, 217, 0.5);color: #2b2b2b;padding: 15px;border-radius: 10px;width: fit-content;')
            | This is a test message sent from postman. Still working???!!!